body {
    background-color: rgb(191, 239, 201);
  }
  h1 {
    font-size: 50px;
    font-weight: bold;
  }

p {
    font-size: 30px;
  }
  .formatText {
    color: rgb(59, 59, 59);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    white-space: pre-line;
  }
  #photos {
    background-color: rgb(234, 229, 225);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    color: rgb(15, 10, 4);
  }
  #bookshelf {
    background-color: rgb(156, 188, 242);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    color: rgb(15, 10, 4);
  }